* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Signika', sans-serif;
}

.main_container {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
}


p {
    display: inline;
    color: white;
    padding: 5px;

}

.align_self {
    align-items: flex-start;
}

.flex_center {
    justify-content: center;
}

.pl_4 {
    padding-left: 4px;
}

.img {
    max-width: 100%;
}

.card {
    width: 30%;
    min-height: 700px;
    margin-top: 160px;

}

.text_underline {
    text-decoration: line-through;
}

.border {
    border: 1px solid lightgray;
}

.min_h {
    min-height: 65px;
}

.text_icon {
    color: white;
    font-size: 0.9rem;
    font-weight: bold;
    padding-bottom: 10px;
}

.mt_20 {
    margin-top: 0px;
    padding-top: 0;
    padding-bottom: 10px;
}

.flex_gap {
    display: flex;
    gap: 10px 20px;
    column-gap: 20px;
}