* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Signika', sans-serif;
}

.main_container {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}


p {
    display: inline;
    color: white;
    padding: 5px;

}

.align_self {
    align-items: flex-start;
}

.flex_center {
    justify-content: center;
}

.pl_60 {
    padding-left: 60px;
}

.img {
    max-width: 100%;
}

.card {
    width: 30%;
    min-height: 700px;
    margin-top: 160px;

}

.text_underline {
    text-decoration: line-through;
}